<div ng-controller="OptionsCtrl">

	<div class="centering">
		<img src="images/leaf-emboss.png" />
	</div>


	<div class="big_plaque">
		<div class="home_avatar_bar">

			<img class="avatar" src="images/{{ user.avatar_url }}" />

			<div class="margin-left-md user-deets">


				<a class="username">
					{{ user.name }}
				</a>
				<div class="user_rep">
					<span class="rep_points">
						{{ user.rep }}
					</span>
					<span class="rep_rep small_text">
						reputation
					</span>
				</div>
			</div>

		</div>

		<div class="user_options"
			ng-class="{'news-feed-active':feed.state=='all'}">
			<div ng-click="show_feed('all')" 
				ng-class="{'user-option-active':feed.state==='all', 'user-option':!(feed.state==='all')}">
				<a>your newsfeed</a>
				<span 
					class="chevron glyphicon glyphicon-chevron-right"></span>
			</div>

			<div ng-click="show_feed('issues')" 
				ng-class="{'user-suboption-active':feed.state=='issues', 'user-suboption':!(feed.state=='issues')}">
				<a>watched issues</a>
				<span class="chevron glyphicon glyphicon-chevron-right"></span>
			</div>
			<div ng-click="show_feed('location')" 
				ng-class="{'user-suboption-active':feed.state=='location', 'user-suboption':!(feed.state=='location')}">
				<a>news for your location</a>
				<span class="chevron glyphicon glyphicon-chevron-right"></span>
			</div>
			<div ng-click="show_feed('followed')" 
				ng-class="{'user-suboption-active':feed.state=='followed', 'user-suboption':!(feed.state=='followed')}">
				<a>followed accounts</a>
				<span class="chevron glyphicon glyphicon-chevron-right"></span>
			</div>
			<div ng-click="show_feed('own_posts')" 
				ng-class="{'user-suboption-active':feed.state=='own_posts', 'user-suboption':!(feed.state=='own_posts')}">
				<a>your posts</a>
				<span class="chevron glyphicon glyphicon-chevron-right"></span>
			</div>
		</div>

	</div>


	<h2>followed accounts</h2>
	<div id="followed_plaque" class="plaque" >

		<div ng-repeat="u in user.following" 
			ng-click="feed.show_user(u.name)"
			ng-class="{'avatar_bar_tiny_active':(feed.state=='user' && feed.user==u.name), 'avatar_bar_tiny':!(feed.state=='user'&&feed.user==u.name)}"
		>
			<img src="images/{{ u.avatar_url }}" class="avatar" />
			<a class="username">
				{{ u.name }}
			</a>
			<span class="chevron glyphicon glyphicon-chevron-right"></span>
		</div>
		<div class="show_more margin-bot-neg-med centering">
			<a>
				see all<br/>
				<span class="glyphicon glyphicon-chevron-down"
					aria-hidden="true"></span>
			</a>
		</div>
	</div>



	<h2>watched issues</h2>
	<div class="plaque">

		<div ng-repeat="i in user.watching" 
			ng-click="show_issue(i.id)"
			ng-class="{'issue_bar_tiny':!(feed.state=='issue' && feed.issue==i.name), 'issue_bar_tiny_active':(feed.state=='issue' && feed.issue==i.name)}"
		>
			<a class="issue_link">
				<img src="images/{{ i.icon_url }}" class="issue_icon" />
				<span class="issue_name">
					{{ i.name }}
				</span>
			</a>
			<span class="chevron glyphicon glyphicon-chevron-right">
			</span>
		</div>

		<div class="show_more margin-bot-neg-med centering">
			<a>
				see all<br/>
				<span class="glyphicon glyphicon-chevron-down"
					aria-hidden="true"></span>
			</a>
		</div>
	</div>
</div>
