.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
	color: rgb(63, 165, 200);
}

h2 {
	display: inline-block;
	vertical-position: middle;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	margin:0;
	padding:0;
}
li:before {
	content: '<span class="glyphicon glyphicon-chevron-right"></span>';
}

.news-item {
	margin-bottom: 10px;
}
.news-item-icon {
	float:left;
	width:75px;
	margin-right: 5px;

	border-radius: 2px;
	background: white;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05) inset;
	border-bottom: solid 1px rgb(230,230,230);
	border-right: solid 1px rgb(230,230,230);
	border-left: solid 1px rgb(220,220,220);
	border-top: solid 1px rgb(220,220,220);

	overflow: hidden;
}
.news-item-icon img {
	width: 100%;
	height: auto;
}
.news-item-info {
	float: left;
	width: calc(100% - 80px);
}


.inline-block {
	display: inline-block;
	vertical-position: middle;
}

.btn, .btn:hover {
	box-shadow: 1px 1px 2px rgba(255,255,255, 0.2) inset;
}
.btn:active {
	box-shadow: 1px 1px 2px rgba(0,0,0, 0.2) inset;
}

.heading_button {
	margin-top: -12px;
	margin-left: 20px;
}

body {
	padding: 0;
	margin: 0;
	background: url('../images/crazy.jpg');
	background: url('../images/halftone.png');
	font-family: 'Open Sans', sans-serif;
}

.social_option {
	float: left;
	padding-right: 10px;
}

h1 {
   	margin-top: 0px;
}

#writeup {
	background: white;
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	border-top: solid 1px rgb(230,230,230);
	border-left: solid 1px rgb(230,230,230);
	border-right: solid 1px rgb(220,220,220);
	border-bottom: solid 1px rgb(220,220,220);
	overflow: hidden;
	margin-top: -20px;
	margin-left: -20px;
	margin-right: -20px;
}

.issue-head-image {
	width: 100%;
	height: auto;
	border-radius: 2px 2px 0px 0px;
}

.writeup-text {
	padding: 20px;
}

.issue-head-image {
}


.visual_container {
	border: solid 1px rgb(220,220,220);
	border-radius: 10px;
	background: white;
	padding: 20px;
}

.visual_container_top {
	border: solid 1px rgb(220,220,220);
	border-radius: 10px 10px 0 0;
	background: white;
	padding: 20px 20px 16px 20px;
}

.visual_container_mid {
	border-left: solid 1px rgb(220,220,220);
	border-right: solid 1px rgb(220,220,220);
	background: white;
	padding: 16px 20px 16px 20px;
}

.visual_container_bot {
	border-left: solid 1px rgb(220,220,220);
	border-right: solid 1px rgb(220,220,220);
	border-bottom: solid 1px rgb(220,220,220);
	border-radius: 0 0 10px 10px;
	background: white;
	padding: 16px 20px 20px 20px;
}

textarea {
	resize: none;
}

textarea.field_only {
	background: none;
	border: none;
	width: 100%;
	height: 80px;
	font-size: 14px;
}

fieldset {
	border: solid 1px rgb(220,220,220);
	border-radius: 6px;
	padding: 10px;
}

fieldset.invert {
	border: solid 1px white;
	border-radius: 6px;
	padding: 10px;
}

#issue-margin {
	font-size: 12px;
}

#issue-margin .social_actions {
	font-size: 10px;
}

#issue-margin h2 {
	text-shadow: 1px 1px rgba(255,255,255,0.6);
}

.reflist {
	list-style-type: none;
	counter-reset: ref-counter;
	color: green;
	font-size: 10px;
}

.reflist li:before {
	content: '[' counter(ref-counter) ']';
	margin-right: 10px;
	counter-increment: ref-counter;
}

.reflist li {
	padding-left: 25px;
	text-indent: -25px;
}

.reflist li a {
	color: green;
}

#subscribe_icon {
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 36px;
	cursor: pointer;
	margin-right: 8px;
}

.sub_icon_inactive {
	background: url('../images/star.png')
}

.sub_icon_active {
	background: url('../images/star_active.png')
}




a, a:link {
	color: rgb(63, 165, 200);
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: rgb(63, 165, 200);
}

a:hover {
	color: rgb(63, 165, 200);
}

a:active {
	color: rgb(63, 165, 200);
}





.accent, a.accent, a.accent:link
a.accent:visited,
a.accent:hover,
a.accent:active {
	color: rgb(255,102,0);
	text-decoration: none;
	cursor: pointer;
}



a#subscribe_link {
	vertical-align: middle;
}

#post_widget {
	margin: 24px 0 24px 0;
	padding: 0 20px 0 20px;
}

.home_avatar_bar {
}

/*#avatar_bar {
	float: left;
	width: 64px;
	height: 64px;
	background: url('../images/avatar.png');
}*/

.left {
	float:left;
}


#post_bar {
	float: left;
	width: calc(100% - 104px);
	margin: 0 0 0 20px;
}

#post_control_wrapper {
	padding:0;
}

#post_control_wrapper textarea {
	background: none;
	border: none;
	width: 100%;
	height: 80px;
	resize: none;
	font-size: 14px;
	padding: 8px 9px;
}

#post_bottom_line {
	width: 100%;
	height: 38px;
	border-top: solid 1px rgb(220,220,220);
	padding: 4px;
}

#post_link, #post_link:active, #post_link:visited {
	float:right;
	background: #6868d3;
	border-radius: 2px;
	color: white;
	padding: 2px 8px 2px 8px;
	margin: 2px 12px 0 0;
	text-decoration: none;
}

.narrow_page {
	max-width: 1000px;
	margin: auto;
	position: relative;
}

.big_plaque {
	width: 100%;
	margin: auto;
	background: rgba(190, 52, 20, 0.6);
	border: solid 1px rgb(128,0,0);
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 3px;
}

.plaque {
	width: (100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	background: rgba(190, 52, 20, 0.6);
	border: solid 1px rgb(128,0,0);
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 3px;
}


#left_col {
	float: left;
	padding: 20px;
	border-right: rgb(220,220,220);
	width: calc(55% - 40px);
	min-height: 100%;
}



#left_col:before {
	content: '';
	width: calc(55% - 40px);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: rgb(240,240,240);
}

#right_col {
	float: left;
	background: white;
	padding: 20px;
	width: calc(45% - 40px);
}

#right_col:before {
	content: '';
	width: calc(45% - 40px);
	position: absolute;
	top: 0;
	bottom: 0;
	left: calc(55% - 40px);
	z-index: -1;
	background: white;
}

.contribution_row {
	text-align: center;
}

.ico {
	float:left;
	height: 36px;
	width: 36px;
	margin-right: 10px;
}

.event_text {
	width: calc(100% - 46px);
	float: left;
}

.contribution_row *{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.section {
	margin-top: 16px;
	margin-bottom: 16px;
}

.big-btn * {
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px;
	font-size: 24px;
}

.mail-ico {
	background: url('../images/mail.png');
	width: 36px;
	height: 24px;
}
	
.section {
	margin-top: 16px;
	margin-bottom: 16px;
}
.centered {
	text-align: center;
}
.centering {
	text-align: center;
}

.centering * {
	text-align: left;
	margin: auto;
}

.centered {
	text-align: center;
}

#post_link:hover {
	background: #aaaae6;
}

#post_link:active {
	background: #6868d3;
}

.clear {
	clear: both;
}

.home_avatar_bar .avatar {
	width: 64px;
	height: 64px;
	background: none;
	border-radius: 50%;
}


.home_avatar_bar .rep_points, 
.home_avatar_bar .username, 
.home_avatar_bar * {
	font-weight: normal;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.home_avatar_bar .rep_rep,
.home_avatar_bar .rep_points {
	font-size: 18px;
}
.home_avatar_bar .username {
	font-size: 32px;
	line-height: 20px;
}

.avatar_bar_tiny, .avatar_bar_tiny_active {
	margin-top: 6px;
	margin-bottom: 6px;
}

.issue_bar_tiny, .issue_bar_tiny_active {
	margin-left: 6px;
}

.issue_bar_tiny_active .issue_icon,
.issue_bar_tiny .issue_icon {
	border-radius: 3px;
	width: 28px;
	height: 28px;
}

.issue_bar_tiny_active a, .issue_bar_tiny:hover a {
	color: white
}

.issue_bar_tiny .chevron {
	display: none;
}
.issue_bar_tiny_active .chevron, issue_bar_tiny:hover .chevron {
	display: inline;
}

.issue_bar_tiny a {
	color: rgba(255,255,255,0.7);
}

.issue_bar_tiny, .issue_bar_tiny_active {
	margin-top: 6px;
	margin-bottom: 6px;
}


.avatar_bar_tiny .avatar,
.avatar_bar_tiny_active .avatar {
	border-radius: 50%;
	height: 28px;
	width: 28px;
	display: inline-block;
	vertical-align: middle;
}

#followed_plaque .avatar_bar_tiny_active a.username,
#followed_plaque .avatar_bar_tiny a.username {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin-left: 6px;
	font-size: 14px;
}

.user_options {
	margin-top: 10px;
}


.user-suboption, .user-suboption-active {
	font-size: 18px;
	padding-left: 32px;
}

.user-suboption a {
	color: rgba(255,255,255,0.7);
}

.user-suboption:hover a, .user-suboption-active a {
	color: white;
}

.user-suboption .chevron {
	display: none;
}

.user-suboption:hover .chevron, .user-suboption-active .chevron {
	display: inline;
}

.news-feed-active .user-suboption a { 
	color: white;
}

.fade.ng-enter {
	transition: 0.25s linear all;
	opacity: 0;
	max-height: 0;
	overflow:hidden;
	padding-top:0;
	padding-bottom:0;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0px;
}

.fade.ng-enter-stagger {
	transition-delay: 0.1s;
	transition-duration: 0s;
}

.fade.ng-enter.ng-enter-active {
	opacity: 1;
	max-height: 200px;
	overflow:hidden;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 14px;
	padding-right: 14px;
	margin-bottom: 20px;
}

.fade {
	opacity: 1;
	max-height: none;
	overflow:hidden;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 14px;
	padding-right: 14px;
	margin-bottom: 20px;
}

.avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: url('../images/avatar.png');
}

.opinion_container {
	border: solid 1px rgb(220,220,220);
	border-radius: 10px;
	background: white;
	padding: 10px;
	margin-bottom: 24px;
}


.user-option, .user-option-active {
	font-size: 26px;
	padding-left: 16px;
}

.user-option-active a {
	color: white;
}

.user-option a {
	color: rgba(255,255,255,0.7);
}

.user-option:hover a {
	color: white;
}


.user-option .chevron {
	display: none;
}

.user-option-active .chevron {
	display: inline;
}

.user-option:hover .chevron {
	display: inline;
}

.avatar_bar_tiny_active a {
	color: white;
}

.avatar_bar_tiny a {
	color: rgba(255,255,255,0.7);
}

.avatar_bar_tiny:hover a {
	color: white;
}

.avatar_bar_tiny .chevron {
	display: none;
}

.avatar_bar_tiny:hover .chevron {
	display: inline;
}

.avatar_row {
	margin-bottom: 14px;
}

.username {
	font-size: 18px;
	font-weight: bold;
	line-height: 10px;
}

.user-deets {
	margin-top: 8px;
	display: inline-block;
	vertical-align: middle;
}

.rep_points {
	color: #45c345;
	font-size: 13px;
}

.dot:before {
	content: '\00B7';
	font-weight: bold;
}
.opinion_avatar {
	margin-right: 10px;
}
.small_text {
	font-size: 12px;
}

.font-sm {
	font-size: 12px;
}

.font-xs {
	font-size: 8px;
}

.time_stamp {
	float: right;
	margin-right: 10px;
	color: grey;
}

.grey {
	color: rgb(120,120,120);
}

.italic {
	font-style: italic;
}

.social_actions {
	margin: 0 24px 0 24px;
}

.opinion_text {
	padding: 0 10px 0 10px;
}

.blue {
	color: #6868d3;
}

.letter {
	position: relative;
}

.letter_corner {
	background: url('../images/corner.png');
	width: 45px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
}

.letter_border {
	border: solid 1px rgb(220,220,220);
	background: white;
	padding: 20px;
	margin-top: 20px;
}

h3.letter_header {
	margin-top: 0px;
	border-bottom: 1px solid rgb(220,220,220);
	padding-bottom: 14px;
}

.letter_indent {
	padding-left: 28px;
}

.attn:before {
	content: 'attn:';
	font-variant: small-caps;
	font-size: 12px;
}

.caps {
	font-variant: small-caps;
}


.source {
	color: green;
}

.source:after {
	content:'\2014';
}

.recipient {
	font-variant: small-caps;
}

.further_indent {
	padding-left: 14px;
}

.bold {
	font-weight: bold;
}

.pleasantry {
	margin-bottom: 14px;
}

.right_med {
	margin-right: 16px;
}






.margin-right-lg {
	margin-right: 32px;
}


.margin-left-lg {
	margin-left: 32px;
}

.margin-top-lg {
	margin-top: 32px;
}

.margin-bot-lg {
	margin-bottom: 32px;
}





.margin-right-md {
	margin-right: 16px;
}


.margin-left-md {
	margin-left: 16px;
}

.margin-top-md {
	margin-top: 16px;
}

.margin-bot-md {
	margin-bottom: 16px;
}




.margin-right-sm {
	margin-right: 8px;
}


.margin-left-sm {
	margin-left: 8px;
}

.margin-top-sm {
	margin-top: 8px;
}

.margin-bot-sm {
	margin-bottom: 8px;
}





.top_med {
	margin-top: 16px;
}

.top_lg {
	margin-top: 32px;
}

.bottom_lg {
	margin-bottom: 32px;
}

.bot-pad-0 {
	padding-bottom: 0;
}

.top_huge {
	margin-top: 64px;
}

.bottom_huge {
	margin-bottom: 64px;
}

.bot-pad-med {
	margin-bottom: 16px;
}

.margin-bot-neg-med {
	margin-bottom: -16px;
}

.margin-bot-neg-sm {
	margin-bottom: -8px;
}
.margin-top-neg-med {
	margin-top: -16px;
}

.margin-top-neg-sm {
	margin-top: -8px;
}

.margin-bot-sm {
	margin-bottom: 8px;
}

.sharp-bot-right {
	border-radius: 6px 6px 0px 6px;
}


.contained {
	border: solid 1px rgb(220,220,220);
	border-radius: 6px;
}

.custom-border-1 {
	border-left: 1px solid rgb(220,220,220);
	border-bottom: 1px solid rgb(220,220,220);
	border-right: 1px solid rgb(220,220,220);
	border-radius: 0px 0px 6px 6px;
	padding: 6px;
}

.bottom_med {
	margin-bottom: 16px;
}

.avatar_small {
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 36px;
	background: url('../images/avatar_small.png');
}

.left_small {
	margin-left: 8px;
}

.left_med {
	margin-left: 16px;
}

.vert_sep_36 {
	width: 1px;
	height: 36px;
	border-left: solid 1px rgb(220,220,220);
}

.column_wrapper {
	position:relative;
}
#side-nav, #side-nav:before {
	width: 400px;
}
#side-nav {
	float: left;
	padding: 20px;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
#side-nav:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	background: rgb(230,55,20) url('../images/embroidery.png');
	border: solid 1px rgb(128,0,0);
}

#side-nav h2 {
	display: block;
	width: 80%;
	margin: auto;
	padding-left: 20px;
	padding-bottom: 10px;
	font-size: 24px;
	font-weight: normal;
}


#center-lane, #center-lane:before {
	width: 600px;
}

#center-lane {
	float: left;
	padding: 40px;
}

#center-lane:before {
	content: '';
	position: absolute;
	top: 0;
	left: 400px;
	bottom: 0;
	z-index: -1;
}

#right_lane {
	float:left;
}

#home-feed-right-lane {
	padding: 30px;
	font-size: 18px;
}
#issue-page-right-lane {
	padding-right: 20px;
}

#right_lane, #right_lane:before, #home-feed-right-lane-bg, #issue-page-right-lane-bg {
	width: calc(100% - 1000px);
}

#right_lane:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 1000px;
	z-index: -1;
}

#home-feed-right-lane-bg, #issue-page-right-lane-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 1000px;
	z-index: -1;
}

#issue-page-right-lane-bg {
	background: transparent;
}
#home-feed-right-lane-bg {
	background: white;
	border-left: solid 1px rgb(220,220,220);
}

.clear {
	clear: both;
}

.show_more {
	line-height: 10px;
}


.bottom_section {
	border-radius: 0 0 8px 8px;
	background: white;
	border-bottom: solid 1px rgb(220,220,220);
	border-left: solid 1px rgb(220,220,220);
	border-right: solid 1px rgb(220,220,220);
	padding: 8px;
}

.full_width {
	width: 100%
}

#post_control {
	width: 400px;
}

.top_section {
	border: solid 1px rgb(220,220,220);
	border-radius: 8px 8px 0 0;
	width: 100%;
	padding: 6px;
}

#post-input {
	height: 100px;
	/*box-shadow: 0px 0 2px rgba(0,0,0,0.1) inset;*/
	border-top: solid 1px rgb(220,220,220);
	border-left: solid 1px rgb(220,220,220);
	border-right: solid 1px rgb(230,230,230);
	border-bottom: solid 1px rgb(230,230,230);
	border-radius: 8px 8px 0 0;
	background: rgb(253,253,253);
	width: 100%;
	padding: 8px;
}

.prompt {
	color: rgb(120,120,120);
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	padding: 0 0 4px 16px;
	font-size: 20px;
}

.btn-accent, .btn-accent:hover {
	color: white;
	font-weight: bold;
	padding: 2px 8px 4px 8px;
}

.btn-accent {
	background: rgb(255,102,0);
}

.btn-accent:hover {
	background: rgb(255,140,37);
}

.social_media_icon {
	width: 28px;
	height: 28px;
}

.panel {
	border-radius: 10px;
}

#feed {
	margin-top: 30px;
}

.card {
	padding: 14px;
	border-radius: 2px;
	background: white;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	border-top: solid 1px rgb(230,230,230);
	border-left: solid 1px rgb(230,230,230);
	border-right: solid 1px rgb(220,220,220);
	border-bottom: solid 1px rgb(220,220,220);
}

#actors_list {
}
.actor {
	border-top: solid 1px rgb(240,240,240);
	padding-top: 10px;
	margin-top: 10px;
}
.actor:first-of-type {
	border: none;
	margin-top: 0;
	padding-top: 0;
}

.send-right {
	text-align: right;
}
.send-right * {
	text-align: left;
}

.feed-item {
	padding: 14px;
	margin-bottom: 20px;
	border-radius: 10px;
	background: white;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	border-top: solid 1px rgb(230,230,230);
	border-left: solid 1px rgb(230,230,230);
	border-right: solid 1px rgb(220,220,220);
	border-bottom: solid 1px rgb(220,220,220);
}

.feed-item-title {
	color: rgb(63, 165, 200);
	font-weight: bold;
	font-size: 18px;
}

.label-politics {
	width: 75px;
	color: white;
	background: rgb(200,63,191);
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	height: 26px;
	padding-top: 4px;
	border-radius: 4px;
	margin-top: 4px;
}

.feed-item-icon {
	width: 75px;
	border-radius: 4px;
}

.feed-item-iconography {
	float: right;
	width: 75px;
}

.feed-item-content {
	float: left;
	width: calc(100% - 75px);
}

.feed-item-bot {
	font-family: Lato, sans-serif;
}

.feed-item-social {
	margin-top: 4px;
	margin-bottom: -4px;
	padding-left: 16px;
	font-size: 12px;
}

.feed-item-top {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.feed-item-divider {
	position: absolute;
	top: 0;
	left: -14;
	bottom: 0;
	width: 65px;
	border-bottom: solid 1px rgb(220,220,220);
}


.section-item .date {
	color: black;
}
.section-item {
	font-family: Lato, sans-serif;
}
.lane-section a, a.section-item {
	color: rgb(63, 165, 200);
}
.lane-section h4 {
	color: rgb(180,180,180);
	font-weight: bold;
	font-size: 14px;
	padding: 0;
	margin: 20px 0 0 46px;
}

.lane-section {
	padding-left: 10px;
	margin-bottom: 40px;
}

.lane-section h3 {
	margin-left: -10px;
}
.section-item {
	display: block;
	padding: 8px 0 8px 0;
}

.lane-subsection {
}

.section-item-icon {
	float: left;
	height: 36px;
	width: 36px;
	margin-top: 6px;
}

.section-item-icon-demo {
	background: no-repeat 50% 50% url('../images/rally.png');
	background-size: 36px auto;
}

.section-item-icon-meeting {
	background: no-repeat 50% 50% url('../images/meeting.png');
	background-size: 36px auto;
}

.section-item-icon-letter {
	background: no-repeat 50% 50% url('../images/letter.png');
	background-size: 36px auto;
}

.section-item-icon-comment {
	background: no-repeat 50% 50% url('../images/word-bubble.png');
	background-size: 36px auto;
}

.section-item-info {
	display: block;
	float: left;
	width: calc(220px);
	margin-left: 10px;
}
.section-item-avatar {
	border-radius: 50%;
}

.overdark {
	text-shadow: 0px 1px rgba(0,0,0,0.6);
}

.sunk {
	text-shadow: 0px 1px rgba(0,0,0,0.6), 0px 1px rgba(255,255,255,0.6);
}

.underlight {
	text-shadow: 0px 1px rgba(255,255,255,0.6);
}

.font-grey {
	color: rgb(180,180,180);
}

