<div class="column_wrapper">

			<!-- left column -->
			<div id="side-nav">
				<lu-user-plaque></lu-user-plaque>
				<lu-plaque title="followed accounts" type="users"></lu-plaque>
				<lu-plaque title="watched issues" type="issues"></lu-plaque>
			</div>

			<!-- center column -->
			<div id="center-lane" ng-controller="ContentCtrl">

				<div class="centering">
					<lu-post></lu-post>
					<h2 ng-controller="FeedStatusCtrl" 
						class="margin-top-lg font-grey underlight">
						{{ feed_status }}
					</h2>
					<div ng-include="'feed_widget.html'"></div>
				</div>

			</div>

			<!-- right column -->
			<div id="right_lane" ng-controller="ContentCtrl">

				<div>
					<div id="home-feed-right-lane-bg"></div>
					<div id="home-feed-right-lane"
						ng-include="'right-nav-widget.html'"></div>
				</div>

			</div>

			<div class="clear"></div>

		</div>