<div>
<h2>{{title}}</h2>
	<div id="followed_plaque" class="plaque" >

		<div ng-repeat="u in user.following"
			ng-class="{'avatar_bar_tiny_active':(feed.state=='user' && feed.user==u.name), 'avatar_bar_tiny':!(feed.state=='user' && feed.user==u.name)}"
		>
			<img src="images/{{ u.avatar_url }}" class="avatar" />
			<a class="username" href="#/user/{{u.name}}/posts">
				{{ u.name }}
			</a>
			<span class="chevron glyphicon glyphicon-chevron-right"></span>
		</div>
		<div class="show_more margin-bot-neg-med centering">
			<a>
				see all<br/>
				<span class="glyphicon glyphicon-chevron-down"
					aria-hidden="true"></span>
			</a>
		</div>
	</div>
</div>