<div>
    <div class="centering">
		<img src="images/leaf-emboss.png" />
    </div>


	<div class="big_plaque">
		<div class="home_avatar_bar">

			<img class="avatar" src="images/{{ user.avatar_url }}" />

			<div class="margin-left-md user-deets">


				<a class="username">
					{{ user.name }}
				</a>
				<div class="user_rep">
					<span class="rep_points">
						{{ user.rep }}
					</span>
					<span class="rep_rep small_text">
						reputation
					</span>
				</div>
			</div>

		</div>

		<div class="user_options"
			ng-class="{'news-feed-active':feed.state=='all'}">
			<div
				ng-class="{'user-option-active':feed.state==='all', 'user-option':!(feed.state==='all')}">
				<a href="#/feed/all">your newsfeed</a>
				<span 
					class="chevron glyphicon glyphicon-chevron-right"></span>
			</div>

			<div 
				ng-class="{'user-suboption-active':feed.state=='issues', 'user-suboption':!(feed.state=='issues')}">
				<a href="#/feed/issues">watched issues</a>
				<span class="chevron glyphicon glyphicon-chevron-right"></span>
			</div>
			<div 
				ng-class="{'user-suboption-active':feed.state=='location', 'user-suboption':!(feed.state=='location')}">
				<a href="#/feed/location">news for your location</a>
				<span class="chevron glyphicon glyphicon-chevron-right"></span>
			</div>
			<div
				ng-class="{'user-suboption-active':feed.state=='followed', 'user-suboption':!(feed.state=='followed')}">
				<a href="#/feed/followed">followed accounts</a>
				<span class="chevron glyphicon glyphicon-chevron-right"></span>
			</div>
			<div
				ng-class="{'user-suboption-active':feed.state=='own_posts', 'user-suboption':!(feed.state=='own_posts')}">
				<a href="#/feed/own_posts">your posts</a>
				<span class="chevron glyphicon glyphicon-chevron-right"></span>
			</div>
		</div>

	</div>
</div>